
a {
  color: #00B7FF;
}

p{color:#ccc}

*{
	margin:0px;
	padding:0px;
}
body{
	font-family: Arial;
	font-style:normal;
}

.loginBox ul{
	overflow:hidden;
	margin:100px;
}
.loginBox li{
	list-style:none;
	font-size:12px;
	padding:10px 0px;
}

header{
	margin:0 auto;
	display:block;
	text-align:center;
	margin-top:50px;
	font-size:50px;
	color:#ff6699;
}
.res{
	height:300px;
	width:500px;
	border:1px solid #ccc;
	position:absolute;
	left:350px;
	top:209px;
	padding:20px;
	font-size:20px;
	color:#690;
}

.loginBox{
	height:230px;
	width:300px;
	border:1px solid #ccc;
	border-radius:5px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-100px 0px 0px -150px;
}
.loginTitle{
	font-size:16px;
	text-align:center;
	margin:10px 0px;
}
.form{
	margin:0 10px;
}
.form span{
	display:inline-block;
	width:80px;
	text-align:right;
	margin-right:5px;
}

.form input{
	border:1px solid #ccc;
	background:none;
	width:160px;
	outline:none;
}
.submit{
	position:absolute;
	top:120px;
	width:200px;
	left:50%;
	margin-left:-100px;
	height:40px;
	line-height:40px;
	border-radius:5px;
	cursor:pointer;
	color: #fff;
	background:#ff6699;
	font-size:16px;
	text-align:center;
}
.register{
	top:170px;
}
.store_suc{
	background:black;
	opacity:0;
	border-radius:10px;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	color:#fff;
	font-size:18px;
	padding:29px 26px;
	text-align:center;
	z-index:1000;
}
.usrMsg{
	text-align:center;
	padding-top:10px;
	display:block;
}
.myCart,.list{
	width:100%;
	margin-top:20px;
}
.list ul{
	width:888px;
	margin:0 auto;
	overflow:hidden;
	padding:20px;
}
.myCart ul{
	width:300px;
	margin:0 auto;
	overflow:hidden;
	padding:20px;
}
.myCart .item{
	width:300px;
	height:365px;
}
.myCart .count{
	display:inline-block;
	height:350px;
	line-height:350px;
	font-size:60px;
	color:#ff6699;
}
.myCart li,.list ul li{
	width:180px;
	border:1px solid #d8d8d9;
	margin:10px;
	float:left;
	cursor:pointer;
	list-style:none;
	padding:10px 10px 20px 10px;
	-webkit-transition:500ms all ease;
}
.myCart li:hover,.list ul li:hover{
	box-shadow: 1px 3px 5px #d8d8d9;
}
.myCart li img,.list ul li img{
	width:180px;
}
.imgwarp{
	height:255px;
	overflow:hidden;
	margin-bottom:20px;
}
.list li.active{
	border-color:#ff6699
}
.myCart p,.list p{
	display:block;
	text-align:center;
}
.shoppingname{
	padding-bottom:5px;
	color:rgb(102, 102, 102);
	font-size:12px;
}
.money{
	color:#ff6699
}

.btns{
	height:50px;
	width:100%;
	position:relative;
	margin-top: 30px;
}
.btns a{
	display:inline-block;
	padding:10px;
	text-decoration:none;
	background: #ff6699;
	color:#fff;
	border-radius:5px;
	text-align:center;
	margin:0 10px;
}
.btnbox{
	display:inline-block;
	margin:0 auto;
	position:absolute;
	left:50%;
	-webkit-transform:translateX(-50%);
}